.title_modal{
    margin-left: -0.6rem;
}

.container_body_form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;   
}

.container_body_form button{
    margin-bottom: 0.4rem;
}
