<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Entidades</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Buscar Razón Social</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                  </mat-form-field>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-end">
                    <button mat-flat-button color="primary" (click)="openModalAddEntity()">
                        <mat-icon>add</mat-icon>
                        <span class="m-l-8">Nuevo</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive m-t-16">
                 
                    <table mat-table [dataSource]="dataSource" class="w-100">

                        <ng-container matColumnDef="razon_social">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                Razon Social
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">
                                {{ element.razonSocial }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tipo_doc">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                Tipo Documento
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">
                                {{ element.tipoDocumentoNombre }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tipo_contribuyente">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                Tipo Contribuyente
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">
                                {{ element.tipoContribuyenteNombre }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <ng-template [ngIf]="element.estado">
                                    <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                        {{ element.estado ? 'Activo' : 'Inactivo' }}
                                    </span>
                                </ng-template>
                            </td>
                        </ng-container>

                        <ng-container-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-flat-button color="primary" (click)="openModalEditEntity(element)">
                                    <mat-icon class="m-l-8 mat-18">edit</mat-icon>
                                </button>
                                <button mat-flat-button color="warn" class="m-l-8"
                                    (click)="openModalDeleteEntity(element)">
                                    <mat-icon class="m-l-8 mat-18">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator class="mat-elevation-z1" id="paginator_stores" class="w-100" [pageSize]="5"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>

        </div>

    </mat-card-content>
    <app-loader *ngIf="loading"></app-loader>
</mat-card>