<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Main Overview -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <div class="w-100">
            <mat-card-title>
              Bienvenidos a mi prueba técnica 👋 <br>
              De Richard Braul 👨‍💻
            </mat-card-title>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


